@import '~@angular/material/theming';
@import 'styles-variables';
@mixin app-component-theme($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    mat-sidenav-container {
        .app__main__container {
            mat-toolbar {
                .link {
                    color: $color-black;
                }
            }
        }
    }
}
