@import 'styles-variables';
.login__main__container {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    mat-card {
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: center;
        width: 400px;
        height: auto;
        margin-top: 4em;
        .login__logo__container {
            img {
                height: 80px;
                width: auto;
            }
        }
        .login__form {
            width: 100%;
            margin-top: 2em;
            .login__input {
                margin-top: 0.625em;
                width: 100%;
            }
            .login__button {
                margin-top: 2em;
                margin-bottom: 2em;
                padding: 0.625em;
                width: 100%;
                align-items: center;
            }
        }
    }
}
