<div class="login__main__container">
	<mat-card>
		<span class="login__logo__container">
			<img [src]="logo" />
		</span>
		<form class="login__form">
			<mat-form-field class="login__input">
				<input [value]="username" (keyup)="onUsernameChange($event.target.value)" matInput placeholder="Username">
			</mat-form-field>
			<mat-form-field class="login__input">
				<input [value]="password" (keyup)="onPasswordChange($event.target.value)" matInput placeholder="Password" type="password">
			</mat-form-field>
			<button class="login__button" (click)="onLoginClick()" mat-raised-button color="primary">
				LOGIN
			</button>
		</form>
	</mat-card>
</div>
